<div class="page-wrapper">
	<div class="container mobile-width">
		<div class="row center">
			<div class="col s12">
				<h1>360 Video</h1>
				<hr>
				<br>
				<br>
			</div>
		</div>
		<div class="row center">
			<div class="col s12">
				<div class="video-media-wrapper fadein-right-slow">
					<iframe src="https://www.youtube.com/embed/_mrvwj489VI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="video-media-wrapper video-lazy">
					<iframe class="b-lazy" src="https://www.youtube.com/embed/ZRlQGncXySU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="video-media-wrapper video-lazy">
					<iframe class="b-lazy" src="https://www.youtube.com/embed/Vc1Q1tmyLhs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="video-media-wrapper video-lazy">
					<iframe class="b-lazy" src="https://www.youtube.com/embed/MsOZ3gGwJoY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="video-media-wrapper video-lazy">
					<iframe class="b-lazy" src="https://www.youtube.com/embed/wNLgzxC-bwc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="video-media-wrapper video-lazy">
					<iframe class="b-lazy" src="https://www.youtube.com/embed/VzOGtD8GT6k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>