<div class="page-wrapper">
	<div class="page-header">
		<div class="parallax-content">
			<h1>About us</h1>
			<div id="parallax_img_3" class="parallax-custom-img"></div>
		</div>
	</div>
	<div class="container">
		{{!--
		<div class="row center">
			<div class="col s12">
				<br>
				<br>
				<h1>About us</h1>
				<hr>
				<br>
			</div>
		</div> --}}
		<div class="row center">
			<div class="col s12">
				<p class="light">
					VR the Future was created to connect with the people and places we care about most. What started as an idea in a basement
					in Hillsborough, NJ has now grown to a fully operational VR Experience Creation Company based in Austin, TX In order
					to truly immerse and engage an audience, an experience created by VR the Future is a surefire way to accomplish just
					that. ​ Why should you book your next Marketing campaign, Virtual Tour or 360 VR Production with us? Because VR the
					Future.
				</p>
			</div>
		</div>
		<div class="row center">
			<a href="/contact" class="btn waves-effect waves-light gold-solid">Ask us how we can help you
				<i class="material-icons right">send</i>
			</a>
		</div>
	</div>
</div>