<div class="page-wrapper">
	<div class="container">
		<h1>Get in touch</h1>
		<hr>
		<div class="row">
			<div class="col s12">
				<p>
					If you would like to schedule an immersive VR experience that can give your company/ brand the a leading edge please call
					us or leave us a message below. We will work with your every need to ensure that you get the best possible result.
				</p>
				{{!--
				<p>Pricing depends on what you are looking for, so a quote will be given once we have a better understanding of what you
					are looking for. VR the Future hopes that you choose us to make your Virtual Reality dreams come true. You can contact
					us at
				</p> --}}
				<span>
					<a class="gold-accent" class="email" href="mailto:VRtheFutureFilms@gmail.com">
						<i class="material-icons" style="vertical-align:middle;">mail_outline</i> <strong>VRtheFutureFilms@gmail.com</strong></a>
				</span>
			</div>
		</div>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<input id="first_name" name="First name" type="text" class="validate">
						<label for="first_name">First Name</label>
					</div>
					<div class="input-field col s6">
						<input id="last_name" name="Last name" type="text" class="validate">
						<label for="last_name">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="password" name="Password" type="password" class="validate">
						<label for="password">Phone</label>
					</div>
					<div class="input-field col s6">
						<input id="email" name="Email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="message" name="A Message" type="text" class="validate" name="message">
						<label for="message" class="">Message</label>
					</div>
				</div>
				<div class="row">
					<button class="btn waves-effect waves-light gold-solid" type="submit" name="action">Submit
						<i class="material-icons right">send</i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>