<div class="page-wrapper">
	<div class="parallax-custom">
		<div class="parallax-content">
			<div class="container">
				<br>
				<br>
				<div class="row center" style="margin-bottom: 0;">
					<img class="logo-header" src="assets/logo-min-cropped.png" alt="">
					<h2 class="white-text logo-subtitle">THE FUTURE</h2>
				</div>
				<div class="row center">
					<h5 class="col s12 white-text">Virtual Reality Experiences</h5>
				</div>
				<div class="row center">
					<a href="/360-video" class="btn-large waves-effect waves-light gold-solid">View Portfolio</a>
				</div>
			</div>
		</div>
		<div id="parallax_img_1" class="parallax-custom-img"></div>
	</div>

	<div class="white">
		<div class="container">
			<div class="section">
				<!--   Icon Section   -->
				<div class="row">
					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center gold-accent">
								<i class="material-icons">flash_on</i>
							</h2>
							<h5 class="center">Speeds up development</h5>

							<p class="light">Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod
								in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
								per inceptos himenaeos. Nam nec ante.
							</p>
						</div>
					</div>

					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center gold-accent">
								<i class="material-icons">group</i>
							</h2>
							<h5 class="center">User Experience Focused</h5>

							<p class="light">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula
								in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor.
								Maecenas mattis. Sed convallis tristique sem.</p>
						</div>
					</div>

					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center gold-accent">
								<i class="material-icons">settings</i>
							</h2>
							<h5 class="center">Easy to work with</h5>

							<p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut dolor nulla. Aliquam id quam et odio pellentesque
								blandit quis quis velit. Donec nulla urna, laoreet non leo sed, facilisis suscipit nisi. Aliquam mollis sed.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="parallax-custom">
		<div class="parallax-content valign-wrapper">
			<div class="row center">
				<h2 class="white-text">Featured Productions</h2>
			</div>
		</div>
		<div id="parallax_img_2" class="parallax-custom-img"></div>
	</div>

	<div class="white">
		<div class="container">
			<div class="section">
				<!-- Preview Section -->
				<br>
				<br>
				<div class="row center">
					<div class="col s12 m4">
						<div class="icon-block">

							<h2 class="center gold-accent">
								<i class="material-icons">camera</i>
							</h2>
							<h5 class="center">Hamilton Pool in 360 VR</h5>
							<p class="light">Hamilton Pool in 360 VR Visit the most popular tourist destination in central Texas.</p>
						</div>
					</div>
					<div class="col s12 m8">
						<div class="youtube-player" data-id="_mrvwj489VI"></div>
					</div>
				</div>
				<br>
				<br>
				<div class="row center">
					<div class="col s12 m8">
						<div class="youtube-player" data-id="Vc1Q1tmyLhs"></div>
					</div>
					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center gold-accent">
								<i class="material-icons">camera</i>
							</h2>
							<h5 class="center">Philly in VR</h5>
							<p class="light">Experience the beauty of Philadelphia through a virtual tour of the city.</p>
						</div>
					</div>
				</div>
				<br>
				<br>
			</div>
		</div>
	</div>

	<div class="black white-text">
		<div id="index-contact" class="container">
			<div class="section">
				<br>
				<br>
				<div class="row center">
					<h2>Contact us for a quote</h2>
					<p class="light">We promise to reply with lightning speed.</p>
					<a href="/contact" class="btn-large waves-effect waves-light gold-solid">Get in touch now</a>
				</div>
				<br>
				<br>
			</div>
		</div>
	</div>
</div>