<!DOCTYPE html>
<html>
<head>
   <title>{{title}}</title>
   <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
   <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
   <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
   {{{body}}}
</body>
<div class="card">
   <div class="card-content">
      <div class="card-title">
         Materialize Works!
      </div>
   </div>
</div>
<script src="bundle.js"></script>

</html>