<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--Tell the browser that this site is optimized for mobile, VERY IMPORTANT-->
	<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
	/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
	/>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
	<link rel='stylesheet' href='/stylesheets/materialize.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/hamburger.css' />
	<link href="/fonts/fontawesome-webfont.ttf">
	<link href="/fonts/fontawesome-webfont.woff">
	<link href="/fonts/fontawesome-webfont.woff2">
</head>

<body id="top">
	<nav class="transparent z-depth-0 nav-clear">
		<div class="nav-wrapper">
			<a href="#" data-activates="mobile-demo" class="button-collapse">
				{{!--
				<i class="material-icons">menu</i> --}}
				<div id="nav-icon4">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</a>

			<!-- ==== DESKTOP MENU ==== -->
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<li>
						<a class="dropdown-button" href="#!" data-activates="dropdown1">Portfolio
							<i class="material-icons right">arrow_drop_down</i>
						</a>
					</li>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>

			<!-- Dropdown Structure -->
			<ul id="dropdown1" class="dropdown-content">
				<li>
					<a class="gold-accent" href="/360-video">360 Video</a>
				</li>
				<li>
					<a class="gold-accent" href="/virtual-tours">Virtual Tours</a>
				</li>
			</ul>

			<!-- ==== MOBILE MENU ==== -->
			<ul class="side-nav" id="mobile-demo">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li class="">
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class="collapsible-header" style="padding: 0 0 0 32px">Portfolio</a>
							<div class="collapsible-body">
								<ul>
									<li>
										<a class="gold-accent" href="/360-video">360 Video</a>
									</li>
									<li>
										<a class="gold-accent" href="/virtual-tours">Virtual Tours</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>

		</div>
	</nav>

	<div class="content">
		{{{body}}}
	</div>

	<footer class="page-footer blue-grey darken-4">
		<div class="container">
			<div class="row">
				<div class="col l4 s12">
					<h5 class="white-text">Reach out to us</h5>
					<ul>
						<li>
							<a class="email" href="mailto:VRtheFutureFilms@gmail.com">VRtheFutureFilms@gmail.com</a>
						</li>
						<li>
							<a href="" id="facebook" target="_blank" class="social-link">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="" id="twitter" target="_blank" class="social-link">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="" id="youtube" target="_blank" class="social-link">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="" id="instagram" target="_blank" class="social-link">
								<i class="fa fa-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col l2 offset-l1 s12">
					<img class="logo-footer" src="assets/logo-min.png" alt="">
				</div>
				<div class="col l3 offset-l2 s12">
					<h5 class="white-text">Quick Links</h5>
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/360-video">360 Video</a>
						</li>
						<li>
							<a href="/virtual-tours">Virtual Tours</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				<span class="copyright"></span>
			</div>
		</div>
	</footer>
</body>
<script src="bundle.js"></script>

</html>