<div class="page-wrapper">
	<div class="container mobile-width">
		{{!--
		<div class="row center">
			<div class="col s12">
				<br>
				<br>
				<h1>Virtual Tours</h1>
				<hr>
			</div>
		</div> --}}
		<div class="row"></div>
		<div class="carousel carousel-slider center block" data-indicators="true">

			<div class="carousel-fixed-item loader center fadein">
				<div class="row center">
					<img src="assets/loader2.svg" height="175px" alt="">
				</div>
				{{!--
				<a class="btn waves-effect white grey-text darken-text-2">button</a> --}}
			</div>
			<div class="carousel-item" href="#four!">
				<iframe width="100%" height="100%" scrolling="auto" src="https://vizor.io/vrthefuture/pioneer-hill---liberty" frameborder="0"
				 style="border:0" allowfullscreen="" testim_frame_id="5800373"></iframe>
			</div>
			<div class="carousel-item white-text" href="#one!">
				<iframe class="b-lazy" src="https://www.google.com/maps/embed?pb=!1m0!4v1504662459012!6m8!1m7!1sCAoSLEFGMVFpcE5Wc3FkdlAtdjgxbVlTcmhYTUhFYXltb2hRUXVna1VZc2F1Zk0y!2m2!1d30.26605804931797!2d-97.74503806777506!3f286.07154950209645!4f12.0373099757023!5f0.7820865974627469"
				 width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen="" testim_frame_id="2511723"></iframe>
			</div>
			<div class="carousel-item white-text" href="#two!">
				<iframe class="b-lazy" src="https://www.google.com/maps/embed?pb=!1m0!4v1505784031459!6m8!1m7!1sCAoSLEFGMVFpcE5oZ25vUDdQakpzS09SR1BUSDZMOXFVS2ZxOGpER0x4TV8yRXZx!2m2!1d30.35001428138207!2d-97.66538254916667!3f21.59548883381538!4f-0.6578758420585302!5f0.7820865974627469"
				 width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen="" testim_frame_id="5436054"></iframe>
			</div>
			<div class="carousel-item white-text" href="#three!">
				<iframe class="b-lazy" src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2sus!4v1496805232074!6m8!1m7!1sF%3A-lh1GLAQQw0w%2FWTOCGP1nngI%2FAAAAAAAAAu4%2FmRRmiZ5K0r0mM-rJFlTBsikb6zFxYkR6ACLIB!2m2!1d30.26450857425397!2d-97.7434116974473!3f4.157657368298942!4f-36.83674513365882!5f0.7820865974627469"
				 width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen="" testim_frame_id="5010762"></iframe>
			</div>
		</div>
		<br>
	</div>
</div>
<button class="btn toggle-carousel left btn-floating gold-solid">
	<i class="material-icons">chevron_left</i>
</button>
<button class="btn toggle-carousel right btn-floating gold-solid">
	<i class="material-icons">chevron_right</i>
</button>