body, html {
	display: block;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #E6ECF0;
}

/* ==== ANIMATIONS ==== */

@keyframes grow {
	0%,
	75% {
		width: auto;
	}

	100% {
		width: 100%;
	}
}

@keyframes fadein {
	0%,
	75% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadein-right {
	0%,
	75% {
		transform: translateX(20px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.fadein-right {
	animation: fadein-right 0.8s;
}

.fadein-right-slow {
	animation: fadein-right 1.5s;
}

.fadein {
	animation: fadein 1.5s;
}

/* ==== HELPERS ==== */

a {
  color: #00B7FF;
}

p {
	font-size: 18px;
	line-height: 200%;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h1 {
	font-weight: 600;
	font-size: 4.2rem;
	font-family: 'Source Sans Pro';
	/* font-family: 'Alegreya Sans SC'; */
	animation: fadein-right 0.6s;
}

.logo-subtitle {
	font-family: 'Source Sans Pro';
	font-weight: 500;
	letter-spacing: 6px;
	font-size: 28px;
	margin: 0;
}

.hidden {
	display: none;
}

.disabled {
	pointer-events: none;
}

.light-grey {
	background: #E6ECF0 !important;
}

.gold-solid {
	background: #C2A06D !important;
}

.gold-accent {
	color: #C2A06D !important;
}

.gold-darken {
	background: rgb(78, 65, 45) !important;
}

a.button-collapse {
	position: absolute;
	z-index: 990;
	margin: 0;
}

.page-wrapper video {
	width: 80%;
}

.page-header {
	position: relative;
	overflow: hidden;
	height: 200px;
}

.page-header img {
	display: block;
}

.page-header h1 {
	color: white;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 35%;
}

.content {
  min-height: 100%;
}

.content-inside {
  padding: 0;
  padding-bottom: 50px;
}

/* ==== VIRTUAL TOURS ==== */

.carousel {
	margin-top: 100px;
	margin-bottom: 20px;
}

.toggle-carousel {
	border-radius: 0;
	position: absolute;
	height: 200px;
	width: 60px;
	padding: 0;
	top: 35%;
}

.toggle-carousel i {
	font-size: 50px;
}

.toggle-carousel:active {
	background: rgb(150, 123, 84) !important;
}

.left {
	left: 0;
	border-radius: 0 20px 20px 0;
}

.right {
	right: 0;
	border-radius: 20px 0 0 20px;
}

/* ==== SOCIAL MEDIA LINKS ==== */

.facebook {
	color: #4267B2;
}

.facebook-border {
	border-color: #4267B2 !important;
}

.twitter {
	color: #1DA1F2;
}

.twitter-border {
	border-color: #1DA1F2 !important;
}

.youtube {
	color: #FF0000;
}

.youtube-border {
	border-color: #FF0000 !important;
}

.instagram {
	/* background: #d6249f !important; */
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.instagram-border {
	border-color: #d6249f !important;
  /* border-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}

/* ==== FOOTER STYLES ==== */

footer {
	margin-top: 0;
}

footer .logo-footer {
	display: block;
	width: 100px;
}

footer a {
	color: white;
	display: inline-block;
	margin-bottom: 7px;
}

footer a:hover {
	transition: 0.2s;
	color: #C2A06D;
}

footer .email {
	display: inline-block;
	margin-bottom: 20px;
}

footer .social-link {
	border: 1px solid white;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	width: 50px;
}

footer .social-link i {
	pointer-events: none;
	text-align: center;
	display: block;
	font-size: 25px;
	padding: 12px;
}

.footer-copyright {
	background: #192125 !important;
}

.page-wrapper {
	display: block;
	height: 100%;
	widows: 100%;
	opacity: 0;
}

.block {
	display: flex;
}

/* ==== NAVBAR ==== */

@media(min-width: 600px) {
	#nav_mobile {
		 display: none;
	}

	#nav-icon4 {
		margin: 15px;
	}

	/* .parallax-content {
		top: 0;
	} */

	nav .nav-wrapper {
		 padding: 0 25px 0 25px;
	}

	.content-inside {
		padding: 20px;
	}
}

@media(max-width: 600px) {
	.mobile-width {
		width: 100%;
	}

	#nav-icon4 {
		margin: 11px;
	}

	.toggle-carousel {
		display: none;
	}
}

.nav-clear {
	position: absolute;
	z-index: 999;
	top: 0;
}

.nav-wrapper a {
	font-size: 20px;
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: 50px;
}

.parallax-custom-img {
	width: 100%;
	min-width: 1300px;
	height: 500px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: none;
	left: 50%;
	margin: auto;
}

.parallax-custom {
	height: 440px;
	position: relative;
	overflow: hidden;
	top: 0; /* change this when you want to make the navbar transparent */
}

.parallax-content {
	width: 100%;
	min-height: 100px;
	position: absolute;
	text-align: center;
	bottom: 0;
	top: 0;
}

#parallax_img_1 {
	background-image: url('../assets/austin4.jpg');
	animation: fadein 0.5s;
}

#parallax_img_2 {
	background-image: url('../assets/austin2.jpg');
}

#parallax_img_3 {
	background-image: url('../assets/austin3.jpg');
}

.logo-header {
	animation: fadein-right 1s;
}

.parallax-content h5 {
	animation: fadein-right 1.5s;
}

.parallax-content a:hover {
	color: #C2A06D;
	background: white !important;
}

#index-contact a:hover {
	color: #C2A06D;
	background: white !important;
}

img.logo-header {
	display: block;
	width: 250px;
	margin: auto;
}

/* ==== 360 VIDEO TUTORIALS ==== */

/* .video-media-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	margin-bottom: 20px;
	height: 0;
} */

.widescreen {
	width: 100% !important;
	transition: all 0.3s ease-in;
}

.video-media-wrapper.video-lazy {
	opacity: 0;
}

.video-media-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#vid_360_desktop {
	display: none;
}

@media(min-width: 600px) {
	#video_360_desktop {
		display: inline;
	}
}


/* ==== RESPONSIVE YOUTUBE LINKS ==== */

.youtube-player {
	position: relative;
	padding-bottom: 56.23%;
	/* Use 75% for 4:3 videos */
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	margin: 10px 0 10px 0;
}

.youtube-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparent;
}

.youtube-player img {
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: auto;
	cursor: pointer;
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	transition: .4s all;
}

.youtube-player img:hover {
	-webkit-filter: brightness(75%);
}

.youtube-player .play {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url("//i.imgur.com/TxzC70f.png") no-repeat;
	cursor: pointer;
}

/* ==== GOOGLE MAPS API ELEMENTS ==== */

.gmaps-viewer {
	position: relative;
	padding-bottom: 56.23%;
	/* Use 75% for 4:3 videos */
	height: 100%;
	overflow: hidden;
	width: 100%;
	/* background: #000; */
	margin: 10px 0 10px 0;
}

.gmaps-viewer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparent;
}

.gmaps-viewer img {
	bottom: 0;
	display: block;
	left: 0;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: auto;
	cursor: pointer;
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	transition: .4s all;
}

.gmaps-viewer img:hover {
	-webkit-filter: brightness(75%);
}

.gmaps-viewer .play {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url("//i.imgur.com/TxzC70f.png") no-repeat;
	cursor: point