body, html {
	display: block;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #E6ECF0;
}

a {
  color: #00B7FF;
}

.disabled {
	pointer-events: none;
}

.gold-solid {
	background: #C2A06D !important;
}

.gold-accent {
	color: #C2A06D !important;
}

a.button-collapse {
	position: absolute;
	z-index: 990;
	margin: 0;
}

.facebook {
	color: #4267B2;
}

.facebook-border {
	border-color: #4267B2 !important;
}

.twitter {
	color: #1DA1F2;
}

.twitter-border {
	border-color: #1DA1F2 !important;
}

.youtube {
	color: #FF0000;
}

.youtube-border {
	border-color: #FF0000 !important;
}

.instagram {
	/* background: #d6249f !important; */
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.instagram-border {
	border-color: #d6249f !important;
  /* border-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}

.page-wrapper video {
	width: 80%;
}

.page-wrapper img {
	width: 100%;
}

.content {
  min-height: 100%;
}

.content-inside {
  padding: 0;
  padding-bottom: 50px;
}

.toggle-carousel {
	border: none;
	position: absolute;
	height: 150px;
	width: 45px;
	top: 35%;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

footer {
	margin-top: 20px;
}

footer .logo-footer {
	display: block;
	width: 100px;
}

footer a {
	color: white;
	display: inline-block;
	margin-bottom: 7px;
}

footer a:hover {
	transition: 0.2s;
	color: #C2A06D;
}

footer .email {
	display: inline-block;
	margin-bottom: 20px;
}

footer .social-link {
	border: 1px solid white;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	width: 50px;
}

footer .social-link i {
	pointer-events: none;
	text-align: center;
	display: block;
	font-size: 25px;
	padding: 12px;
}

.page-wrapper {
	display: block;
	height: 100%;
	widows: 100%;
	opacity: 0;
}

.block {
	display: flex;
}

@media(min-width: 600px) {
	#nav_mobile {
		 display: none;
	}

	nav .nav-wrapper {
		 padding: 0 25px 0 25px;
	}

	.content-inside {
		padding: 20px;
	}
}

@media(max-width: 600px) {
	.media-wrapper {
		width: 100%;
	}

	.toggle-carousel {
		display: none;
	}
}